@model ProjetoNorthwind.Models.EcommerceDetails

<h2>Detalhe da compra</h2>
   
<div class="form-group">
    <h2>Compra Realizada!</h2>
    <h4>Produto comprado: @Model.ProductName</h4>
</div>

<div class="form-group">
    <h2>
       Vendedor:
    </h2>
    <h4>@Model.FirstName</h4>
    <h2>
        Cliente:
    </h2>
    <h4>
       @Model.CompanyName
    </h4>
</div>
    

   
