@model ProjetoNorthwind.Models.DropdownList

@{
    ViewData["Title"] = "Client";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
       Client Page
    </title>
</head>
<body>
   <h2>Chegou</h2>
</body>
</html>
